<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Best Products Home</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <!-- Nav Sidebar -->
    <nav class="side-nav">
        <div class="menu-button">
            <span class="fas fa-bars menu-bars"></span>
        </div>
        <ul class="oswald-font bold">
            <li><a href="Home.html">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </nav>
    <!-- Nav Sidebar End -->

    <!-- Main section -->
    <section class="main-section custom-display">
       <article>
           <section class="about-section">
                <h1 class="oswald-font big-title">The title of the About Section</h1>
                <h4 class="medium-title opensans-font">- Lorem ipsum dolor sit amet -</h4>
                <p class="opensans-font">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Non sodales neque sodales ut etiam sit. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. 
                    Enim sed faucibus turpis in eu mi bibendum neque. Fusce ut placerat orci nulla. Arcu non odio euismod lacinia at quis. 
                    Vitae aliquet nec ullamcorper sit amet risus nullam eget. Euismod in pellentesque massa placerat duis ultricies lacus.      
                </p>
                <h2 class="opensans-font">- Lorem ipsum dolor sit amet -</h2>
                <p class="opensans-font">
                    Eu sem integer vitae justo eget magna fermentum. Amet est placerat in egestas. Velit dignissim sodales ut eu sem integer.
                    Nulla aliquet enim tortor at auctor urna nunc id cursus. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. 
                    Egestas diam in arcu cursus. Amet cursus sit amet dictum sit amet justo donec. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. 
                </p>
                <h3 class="opensans-font">- Consectetur adipiscing elit -</h3>
                <p class="opensans-font">
                    Quis vel eros donec ac odio. Purus semper eget duis at tellus at urna. Sit amet dictum sit amet justo. Odio ut sem nulla pharetra diam sit amet nisl suscipit. 
                    In ornare quam viverra orci sagittis eu. Tellus pellentesque eu tincidunt tortor. Tortor pretium viverra suspendisse potenti nullam. Lectus nulla at volutpat diam ut venenatis tellus. 
                    Proin fermentum leo vel orci porta non pulvinar neque laoreet. 
                </p>
                <h5 class="opensans-font">- Lorem ipsum dolor sit amet -</h5>
                <p class="opensans-font">
                    Vitae nunc sed velit dignissim sodales ut eu sem. Maecenas sed enim ut sem. 
                    Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Pharetra et ultrices neque ornare aenean euismod. Duis ut diam quam nulla porttitor massa. 
                    Montes nascetur ridiculus mus mauris vitae ultricies.
                </p>
                <h6 class="opensans-font">- Consectetur adipiscing elit -</h6>
                <address>                    
                    Visit us at:<br>
                    Craiova, Romania<br>
                    Written by Vlad Tanasie</a>.<br>                        
                </address>
            </section>
       </article>
    </section>
    <!-- End of main section -->
</body>
</html>