@import './Styles/general.css';
@import './Styles/text-styles.css';

/* override general.css */
.main-section{
    height: 130vh;
}

.menu-button{
    bottom: 310px;
}
/* override general.css end*/

.custom-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-section{
    position: absolute;
    width: 900px;
    top: 0;
    left: 330px;
}

address{
    margin-top: 20px;
}