<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Best Products Home</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <!-- Nav Sidebar -->
    <nav class="side-nav">
        <div class="menu-button">
            <span class="fas fa-bars menu-bars"></span>
        </div>
        <ul class="oswald-font bold">
            <li><a href="Home.html">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">CONTACTS</a></li>
        </ul>
    </nav>
    <!-- Nav Sidebar End -->

    <!-- Main section -->
    <section class="main-section">
       
    </section>

    
</body>
</html>