<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Best Products Home</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <!-- Nav Sidebar -->
    <nav class="side-nav">
        <div class="menu-button">
            <span class="fas fa-bars menu-bars"></span>
        </div>
        <ul class="oswald-font bold">
            <li><a href="">HOME</a></li>
            <li><a href="About.html">ABOUT</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </nav>
    <!-- Nav Sidebar End -->

    <!-- Main section -->
    <section class="main-section">
        <div class="title-button">
            <h1 class="oswald-font bold big-title">The title of the home page</h1>
            <blockquote class="italic bold opensans-font">- The best product of the last decade -</blockquote>
            <a href="" class="button opensans-font">See More!</a>
        </div>
        <figure>
            <img src="../Assets/IMGBIN_apple-iphone-x-png_rmPUhxn0.png" alt="iPhone X" class="medium-size-image" id="main-image">
        </figure>
    </section>
</body>
</html>