<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Best Products Home</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!-- Nav Sidebar -->
    <nav class="side-nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
    

    <!-- Main section -->
    <section class="main-section">
        <div class="title-button">
            <h1>The title of the home page</h1>
            <a href="" class="button">See More!</a>
        </div>
        <figure>
            <img src="../Assets/IMGBIN_apple-iphone-x-png_rmPUhxn0.png" alt="iPhone X" class="medium-size-image" id="main-image">
        </figure>
    </section>
</body>
</html>