@import './Styles/general.css';
@import './Styles/text-styles.css';

h1:hover{
    cursor: default;
}

.medium-size-image{
    height: 475px;
    width: 400px;
}

#main-image{
    position: absolute;
    left: 850px;
    top: 130px;
    transition: .15s all linear;
}

#main-image:hover{
    top: 100px;
}

.title-button{
    position: absolute;
    left: 250px;
    top: 250px;
}

.button {
    padding: 5px;
    text-align: center;
    width: 100px;
    border: black solid 3px;
    transition: .25s all linear;
}

.button:hover {
    background-color: #333;
    color: #fff; 
}



