<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../Assets/batman-icon.jpg"/>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="../script.js"></script>
    <title>Homepage</title>
    <style type="text/css">
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <!-- Start of nav -->
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <!-- End of nav -->
    </header>

    <aside>
        <h3>News</h3>
        <ul>
            <li><a href="">2018</a></li>
            <li><a href="">2019</a></li>
            <li><a href="">2020</a></li>
        </ul>
    </aside>

    <!-- Start of main section -->
    <section>
        <h1>Our product</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Non sodales neque sodales ut etiam sit. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. 
            Enim sed faucibus turpis in eu mi bibendum neque. Fusce ut placerat orci nulla. Arcu non odio euismod lacinia at quis. 
            Vitae aliquet nec ullamcorper sit amet risus nullam eget. Euismod in pellentesque massa placerat duis ultricies lacus.
        </p>
        <i>- Best i have ever seen -</i>
        <figure>
            <img src="../Assets/IMGBIN_apple-iphone-x-png_rmPUhxn0.png" alt="phone image">
        </figure>
    </section>
    <!-- End of main section -->

    <!-- Start of footer -->
    <footer>
        <p>&copy; Vlad-Cristian Tanasie</p>
    </footer>
    <!-- End of footer -->
</body>
</html>