<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="../Assets/batman-icon.jpg" />
    <link rel="stylesheet" href="./styles/style.css" />
    <script src="../script.js"></script>
    <title>Products</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Start of nav -->
      <nav>
        <ul>
          <li><a href="homepage.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="products.html">Products</a></li>
        </ul>
      </nav>
      <!-- End of nav -->
    </header>

    <!-- Start of products section -->
    <section>
      <!-- Start of title -->
      <h2>We have three products</h2>
      <!-- End of title -->
      <table>
        <tr>
          <th>Phone</th>
          <th>Watch</th>
          <th>Laptop</th>
        </tr>
        <tr>
          <td><img src="../Assets/phonex.png" alt="smartphone" /></td>
          <td><img src="../Assets/applewatch.png" alt="smartwatch" /></td>
          <td><img src="../Assets/laptop-product.png" alt="black laptop" /></td>
        </tr>
        <tr>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Non sodales neque sodales ut etiam sit. Sit amet consectetur adipiscing elit ut aliquam
            purus sit amet.
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Non sodales neque sodales ut etiam sit. Sit amet consectetur adipiscing elit ut aliquam
            purus sit amet.
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Non sodales neque sodales ut etiam sit. Sit amet consectetur adipiscing elit ut aliquam
            purus sit amet.
          </td>
        </tr>
        <tr>
          <td><h5>Benefits</h5></td>
          <td><h5>Benefits</h5></td>
          <td><h5>Benefits</h5></td>
        </tr>
        <tr>
          <td>
            <ol>
              <li>Smart</li>
              <li>Compact</li>
              <li>Connected</li>
            </ol>
          </td>
          <td>
            <ol>
              <li>Smart</li>
              <li>Compact</li>
              <li>Connected</li>
            </ol>
          </td>
          <td>
            <ol>
              <li>Smart</li>
              <li>Compact</li>
              <li>Connected</li>
            </ol>
          </td>
        </tr>
      </table>
    </section>
    <!-- End of products section -->

    <!-- Contact button -->
    <a href="contact.html"><h2>Contact</h2></a>
    <!-- End of Contact button -->

    <!-- Start of footer -->
    <footer>
      <p>&copy; Vlad-Cristian Tanasie</p>
    </footer>
    <!-- End of footer -->
  </body>
</html>
